[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git://github.com/sejaeger/vim-pathogen.git
[submodule "bundle/vim-zencoding"]
	path = bundle/vim-zencoding
	url = https://github.com/mattn/zencoding-vim.git
[submodule "bundle/vim-nerdtree"]
	path = bundle/vim-nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-nerdcommenter"]
	path = bundle/vim-nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/vim-grep"]
	path = bundle/vim-grep
	url = https://github.com/vim-scripts/grep.vim.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "git-vim"]
	path = git-vim
	url = https://github.com/motemen/git-vim.git
[submodule "bundle/git-vim"]
	path = bundle/git-vim
	url = https://github.com/motemen/git-vim.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = git@github.com:kchmck/vim-coffee-script.git
[submodule "bundle/vim-fakeclip"]
	path = bundle/vim-fakeclip
	url = git://github.com/kana/vim-fakeclip.git
[submodule "syntastic"]
	path = syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/vim_goshrepl"]
	path = bundle/vim_goshrepl
	url = git://github.com/aharisu/vim_goshrepl.git
[submodule "bundle/vimproc"]
	path = bundle/vimproc
	url = git@github.com:Shougo/vimproc.vim.git
