[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git://github.com/sejaeger/vim-pathogen.git
[submodule "bundle/vim-zencoding"]
	path = bundle/vim-zencoding
	url = https://github.com/mattn/zencoding-vim.git
[submodule "bundle/vim-nerdtree"]
	path = bundle/vim-nerdtree
	url = https://github.com/scrooloose/nerdtree.git
